# Node.js
node_modules
coverage
coverage.json
jspm_packages/

# Typechain
typechain
typechain-types

# Hardhat files
cache
artifacts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Build
/.next
/out

# Environment
.env.local
.env*.local
.env
.env.build
.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# secret files
.secret

